.Logo {
    width: 2.5em;
    height: 2.5em;
}

.Logo-svg {
    fill: inherit;
    height: 100%;
}

.Logo-back {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.5;
    border: none;
    margin-top: 3px;
}

.Logo-png {
    display: block;
    margin: auto;
    width: 120px;
    height: 25px;
    background: url(../../assets/images/logo_English_white.png) no-repeat center center;
    background-size: 120px 25px;
    margin-top: 3px;
}