.ImagesArticles {
    background: white;
    height: 100%;
}

.flow-view {
    flex: 1;
    flex-direction: column;
    display: flex;
    background: #FAFAF5;
}

.ImagesArticles .search-bar {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.ImagesArticles .search-input {
    color: #000000;

    flex: 1;

}

.ImagesArticles .bottom-select-bar {
    color: black;
    position: relative;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;

}

.ImagesArticles .bottom-select {
    flex: 1;
}

.MainScreen {
    position: relative;
    flex: 1;
}

.Flow {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Flow-item {
    position: relative;
    width: 500px;
    height: 500px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.Flow-item-wrapper {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    background-color: black;
}

.Flow-item.selected .Flow-item-wrapper {
    background-color: transparent;
    -webkit-animation: displaycard 1.5s both normal;
}

@-webkit-keyframes displaycard {
    0% {
        -webkit-transform: none;
    }

    30% {
        -webkit-transform: translateX(200px);
        -webkit-animation-timing-function: ease-out;
    }

    60% {
        -webkit-transform: translateX(100px) rotateY(181deg) translateZ(-400px);
        -webkit-animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateX(0px) rotateY(181deg) translateZ(-500px) scale3d(5, 5, 5);
    }
}

